.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
}
.home-info h1{
    font-size: 55px;
}
.home-info h2{
    font-size: 32px;
    margin: 10px;
}
.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}
.home-info .btn-social{
    display: flex;
    align-items: center;
}
.btn-all{
    padding: 20px;
}
.btn{
    background-color: transparent;
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    font-size: 16PX;
    color: #1f242d;
    font-weight: 600;
    transition: 1s;
}
.btn:hover{
    background-color: transparent;
    color: #7cf03d;
    box-shadow:#fff;
    
}
.btn-two{
    background-color: transparent;
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    background:#ffae00;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    font-size: 16PX;
    color: #1f242d;
    font-weight: 600;
    transition: 1s;
}
.btn-two:hover{
    background-color: transparent;
    color: #7cf03d;
    box-shadow:#fff;
}
.home-info .social a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50px;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
}
.home-info .social a:hover{
    background-color: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}
.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/*annimation image*/
.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, #7cf03d);
}
.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: 1px solid #1f242d;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}
.home-img .img-box .img-item img{
    position: absolute;
    top: 30px;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}
.bars-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar {
    width: 100%;
    height: 100%;
    background: #1f242d;
    border: 2px solid red;
    transform: translateY(-100%);
}